/*= AA1
	----------------------------*/

.containerAA11 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background: url(../../img/cenario1.jpg) no-repeat center;
                background-size: cover; */
}

.containerAA11 .baseFundo {
    background: url(../../img/aa11.png) no-repeat center;
    background-size: cover;
}


/* -------------------------------- 
            
            Main Components 
            
            -------------------------------- */

.containerAA11 .titulo {
    position: absolute;
    width: 575px;
}

.containerAA11 .bl1 {
    position: absolute;
    width: 436px;
    height: 456px;
    padding: 30px;
    z-index: 0;
}

.containerAA11 .bl1 .blt1 {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    line-height: 30px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.containerAA11 .bl1 .blt1 i {
    padding-right: 10px;
}

.containerAA11 .bl1 .blt2 {
    padding: 20px;
}


/* .containerAA11 .texto {
        position: fixed;
        width: 613px;
    } */

.containerAA11 .bloco {
    position: absolute;
    width: 1111px;
    height: 541px;
    background-color: #041d37 !important;
    z-index: 999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 15px; */
    /* border: 1px solid #FF5900; */
    border-radius: 50px;
}

.containerAA11 .pinAll {
    position: absolute;
    width: 100%;
    height: 40px;
    /* background-color: #bababa; */
    bottom: 20px;
    z-index: 999999999;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containerAA11 .pinAll .pin {
    position: relative;
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.containerAA11 .pinAll .pin:hover {
    background: #113F6D;
}

.containerAA11 .pinAll .pinAtivo {
    background: #113F6D;
}

.containerAA11 .nav {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -30px;
    left: -40px;
    z-index: 9999;
}

.containerAA11 .nleft {
    position: absolute;
    width: 60px;
    height: 60px;
    /* border-top-left-radius: 15px;
        border-bottom-left-radius: 15px; */
    background-color: #113F6D !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAA11 .nright {
    position: absolute;
    width: 60px;
    height: 60px;
    /* border-top-right-radius: 15px;
        border-bottom-right-radius: 15px; */
    background-color: #113F6D !important;
    cursor: pointer;
    right: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAA11 .nleft:hover,
.containerAA11 .nright:hover {
    background-color: #245CA0 !important;
}

.containerAA11 .step {
    display: none;
    overflow: hidden;
    border-radius: 50px;
    background-color: #30BF58;
    border: 5px solid #fff;
}

.containerAA11 .step1 {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAA11 ul {
    list-style-type: disc;
    padding: 30px;
}

.containerAA11 ul li {
    padding-bottom: 10px;
}

.containerAA11 ul li:last-child {
    padding-bottom: 0px;
}

.containerAA11 .step2 {
    position: relative;
    width: 100%;
    height: 100%;
    /* border-radius: 20px; */
    /* padding: 0px 40px; */
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAA11 .step2Init {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAA11 .step2 .pc {
    position: relative;
    width: 624px;
    height: 316px;
    background: url(../../img/pc.png) no-repeat center;
    background-size: contain;
}

.containerAA11 .step2 .videoBase {
    position: absolute;
    width: 470px;
    height: 253px;
    background: rgb(0, 0, 0);
    top: 18px;
    left: 78px;
}

.containerAA11 .step2 .placeholder {
    position: absolute;
    width: 470px;
    height: 253px;
    background: url(../../../anexos/videoAA11.png) no-repeat center;
    background-size: cover;
    top: 18px;
    left: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.containerAA11 .step2 .placeholder i {
    color: #ffffff;
    font-size: 200px;
    transition: all 0.5s ease;
}

.containerAA11 .step2 .placeholder:hover i {
    color: #245CA0;
    transform: scale(1.1);
}

.containerAA11 .step2 .text {
    position: relative;
    padding: 20px;
    width: 435px;
}

.containerAA11 .stepXD {
    justify-content: space-between;
}

.containerAA11 .stepXD .text {
    position: relative;
    width: 100%;
}