<script>
    window["aa20"] = {
        indice: "aa20",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa20").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                box: _containerTela.find('.containerGeral'),
                img_H: course.height,
                img_W: course.width,
            });



            if (_tela.status == false) {
                _tela.status = true;





            } else {

            }


        }
    })
</script>


<div class="containerAA20 containerAABase">

    <div class="containerGeral">

        <div class="titulo posicionar animated fadeIn size30 light" px="960" py="200">
            <div class="animated fadeInUp delay0_8 vermelho bold size60">
                Modelo de Perfil de <br>Acesso Atual
            </div>
            <div class="animated fadeInUp delay1_0 mt20">
                Você viu que <span class="bold">função é o agrupamento de microatividades relacionadas com as atribuições e tarefas executadas pelos usuários</span>.<br><br> Para realizarmos um controle efetivo, que tenha como <span class="bold">objetivos prover e administrar privilégios de acesso</span>,
                o Grupo Petrópolis passou a trabalhar com a nova estrutura <span class="bold">baseada na função que o colaborador exerce dentro da organização</span>.<br><br> Esse modelo está alinhado com as melhores práticas de gestão e governança
                <span class="bold">de acessos com tratamento de riscos</span>.
            </div>

        </div>




    </div>

</div>